<!DOCTYPE html>
<html ng-app="directive06">
<head>
<meta charset="utf-8">
<title>directive06 test </title>
<script src="libs/angular/angular.js"></script>
<script type="text/javascript">
	angular.module('directive06', [])
	.controller('demoCtrl', ['$scope', function($scope) {
		$scope.helloList =[{name:'google'},{name:'naver'},{name:'angular'}];
		$scope.sendMessage = function(toSb) {
			console.log(toSb+"에게 메시지를 보낸다.");
		};
	}])
	.directive('hello', function() {
		return {
			templateUrl : "template/helloTpl3.html",
			restrict : "AE",
			// to는 연결된 DOM의 속성명. 즉, 연결된 DOM의 to라는 속성명에 대한 값이 부모 scope의 속성명이 됨
			scope : {name : "=to" }
		}
	});
</script>
</head>
<body ng-controller="demoCtrl">
	<ul>
		<li ng-repeat="hellosb in helloList">
			<input type="text" ng-model="hellosb.name">
		</li>
	</ul>
	<!-- 지시자 내부 scope의 name과 demoCtrl 컨트롤러의 helloList 배열 각 요소 객체의 name이 모두 연결되어 각 속성의 값을 바구면 서로 갱신된다. -->
	<div ng-repeat="hellosb in helloList" hello to="hellosb.name"></div>
</body>
</html>