<!DOCTYPE html>
<html ng-app="cookieDemo">
<head>
<meta charset="utf-8">
<title>ngCookies Test</title>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> -->
<script src="libs/angular/angular.js"></script>
<script src="libs/angular/angular-cookies.js"></script>
<script type="text/javascript">

	/*ngCookies 모듈을 사용한다는 의미로 배열에 ngCookies 문자열 전달 */
	/*ngCookies 는 두 가지 Service를 제공함 - cookieStore , cookie*/
	angular.module('cookieDemo', ['ngCookies'])
	.controller("mainCtrl", ['$scope', '$cookieStore', function($scope, $cookieStore) {
		/*test를 Key로 하는 값을 쿠키에서  가지고 온다. -> 값이 없으면 없음을 대입*/
		$scope.value = $cookieStore.get("test") || "없음";
		$scope.getValue = function() {
			$scope.value = $cookieStore.get("test");
		};
		/*cookie에 test를 key 값으로 하는 value를 저장한다.*/
		$scope.putValue = function(iV) {
			$cookieStore.put("test", iV);
		};
	}]);
</script>
</head>
<body ng-controller="mainCtrl">
	<h1>Cookie 서비스 사용</h1>
	<p>test 키로 저장된 값 : {{value}}</p>
	<button ng-click="getValue()">쿠키 가져오기</button>
	<br>
	<input type="text" ng-model="iValue"><button ng-click="putValue(iValue)">쿠키저장</button>
</body>
</html>